body{
    background-color: #333333;
    color: #FF2222;
}
td{
}
#title{
    text-align: center;
}
#chessboard{
    text-align: center;
    margin: 0 auto;
}
#chessboard_table{
    margin: 0 auto;
}
.white_square{
    background-color: #DDDDDD;
    width: 100px;
    height: 100px;
}
.black_square{
    background-color: #888888;
    width: 100px;
    height: 100px;
}
.grid_label{
    font-size: 22px;
    padding: 0px 6px 0px 6px;
}
