#myCanvas {
   width: 100%;
   height: 100%;
}

body, html {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

body {
   display: table;
}

#downloadImg {
   padding: 0px 0px 0px 0px;
   margin: 5px 0px 0px 0px;
}

#header, #canvasWrapper {
   width: 100%;
   display: table-row;
}

#header {
   background: #333333;
}

#controlsWrapper {
   padding: 2px 0px 2px 0px;
   display: table;
   margin: 0 auto;
   visibility: hidden;
}

#downloadWrapper {
   float: left;
   margin-right: 10px;
   padding: 0px 0px 0px 0px;
   margin: 0px 4px 0px 0px;
   height: 35px;
   visibility: hidden;
}

#newWrapper{
   float: left;
   margin-right: 7px;
}

#canvasWrapper {
   background: #FFFFFF;
   height: 100%;
}

#sliderWrapper {
   float: left;
   margin-right: 10px;
}

#buttonWrapper {
   float: left;
   visibility: hidden;
}
#play {
   display: none;
}
#sliderWrapper {
   float: left;
   visibility: hidden;
}
#speedSlider {
   width: 150px;
   margin: 8px 0px 0px 20px;
   background: #222222;
   border: medium none;
}
.noUi-handle {
   background: #337ab7;
   border: 1px solid #337ab7;
   border-radius: 5px;
   box-shadow: none;
}

.glyphicon {
   top: 2px;
}

#newButton {
   padding: 6px 6px;
}

.imageOptions {
   display: none;
}

#iteratorOptions {
   display: inline;
}

.modal-content {
   background-color: #eee;
}

.modal-dialog {
   width: 400px;
}

.newButton {
   margin-top: 5px;
}
.form-control {
   width: 70px;
}